@import "tailwindcss";

@theme {
  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;

  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdcfd5;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;

  --color-success: #2cb16d;
  --color-danger: #b12c4d;

  --font-sans: "Open Sans", ui-sans-serif, system-ui;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-xl: 24px;
  --text-xl--line-height: 32px;
  --text-xl--font-weight: var(--font-weight-bold);

  --text-lg: 18px;
  --text-lg--line-height: 24px;
  --text-lg--font-weight: var(--font-weight-bold);

  --text-md: 14px;
  --text-md--line-height: 18px;
  --text-md--font-weight: var(--font-weight-semibold);

  --text-sm: 12px;
  --text-sm--line-height: 16px;

  --text-xs: 10px;
  --text-xs--line-height: 14px;
  --text-xs--font-weight: var(--font-weight-regular);
}

@layer base {
  body {
    @apply bg-white text-gray-500 font-sans antialiased;
  }
}

@layer utilities {
  .custom-scrollbar {
    /* 1. Definimos a largura mais robusta */
    &::-webkit-scrollbar {
      width: 16px;
    }

    /* 2. O trilho (track) pode ter um leve tom para não ficar vazio */
    &::-webkit-scrollbar-track {
      background: var(--color-gray-100);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-blue-base);
      border-radius: 0;

      border: 2px solid var(--color-gray-100);

      &:hover {
        background: var(--color-blue-dark);
      }
    }
  }
  @keyframes toast-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-toast-in {
    animation: toast-in 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  }

  @keyframes progress-slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(300%);
    }
  }

  .animate-progress-slide {
    animation: progress-slide 1s infinite linear;
  }
}
